<html>
<head>
<script src="/static/jquery-1.5.2.min.js"></script>
</head>
<body>
<script>
    function rate(item_id) {
        var score = prompt("请打分(0-5)：", "5");
        $.getJSON("/api/rate", 
            {"item_id": item_id, "item_score": score},
            function(data) {
                window.location.reload()
            });
    }
</script>

<h1>Category: {{category_label}}</h1>
<ol>
{% for item in movies %}
    <li><a href="/google_it?title={{item.title|urlencode}}">{{item.title}}</a> [<a href="javascript:rate({{item.id}});">打分</a>] ( 
    {% for category in item.categories %}
    <a href="/category?label={{category}}">{{category}}</a> 
    {% endfor %}
    )</li>
{% endfor %}
</ol>
</body>
</html>
