<html>
<head>
<title>{{item.title}}</title>
<script src="/static/jquery-1.5.2.min.js"></script>
<script>
    function rate(item_id) {
        $.getJSON("/api/rate", 
            {"item_id": item_id},
            function(data) {
		document.getElementById("rate_span").innerHTML = "已收藏";
            });
    }
</script>
<!-- 
http://code.google.com/intl/zh-CN/apis/books/docs/dynamic-links.html#htmlEx
http://code.google.com/intl/zh-CN/apis/books/docs/dynamic-links.html
http://bibwild.wordpress.com/2009/05/19/alternatives-to-amazon-api/
--> 
</head>
<body>
<a href="/">回到首页</a>&nbsp;<a href="/search">搜索</a>
<h1>{{item.title}}</h1>

<div>

<div style="width: 500px; float:left">
<img src="{{item.image_url_m}}"></img>
<ul>
    <li>作者：{{item.author}}</li>
    <li>ISBN：{{item.isbn}}</li>
    <li>出版商：{{item.publisher}}</li>
    <li>本书在Amazon上的<a href="http://www.amazon.com/dp/{{item.isbn}}">产品页面</a></li>
</ul>
    <h2>喜欢本商品的顾客也喜欢：</h2>
    <ul>
    {% for item in mostSimilarItems %}
        <li><a href="/item_details?id={{item.id}}"><img src="{{item.image_url_s}}" />{{item.title}}</a></li>
    {% endfor %}
    </ul>
</div>

<div style="float: left; width: 200px; height: 1200px; border: 1px dotted black;">
    <h3>根据您的浏览历史，我们猜您也喜欢:</h3>
    <ul>
        {% if recommended_items %}
        {% for item in recommended_items %}
            <li><a href="/item_details?id={{item.id}}"><img src="{{item.image_url_s}}" />{{item.title}}</a> [<a href="javascript:rate({{item.id}});">收藏</a>]</li>
        {% endfor %}
        {% else %}
        No recommendations currently.
        {% endif %}
    </ul>
</div>


</div>


</body>
</html>
