<html>
<head>
<title>搜索</title>
<script src="/static/jquery-1.5.2.min.js"></script>
</head>
<body>
<script>
    function rate(item_id) {
        $.getJSON("/api/rate", 
            {"item_id": item_id},
            function(data) {
                window.location.reload()
            });
    }
</script>

<h1>搜索</h1>
<a href="/">返回首页</a><br/>
<p><b>当前用户: {{current_user.name}}</b> </p>
<form method="GET" action="/search">
    <input type="text" name="q" size="80" value={{q}}>
    <input type="submit" name="submit" value="搜索" />
</form>
<div class="navigate" style="text-align:left">
    {% if prev >= 0 %}
    <a href="?q={{q}}&page={{prev}}"> &laquo; prev</a>
    {% endif %}
    {% if next <= result.response.numFound %}
    <a href="?q={{q}}&page={{next}}">next &raquo; </a>
    {% endif %}
    |
    {{ result.response.numFound }} results
</div>
<hr/>
<ol>
{% for item in result.response.docs %}
    <li style="margin-bottom: 10px;"><a href="/item_details?id={{item.id}}">{{item.title}}</a> 作者：{{item.author}}&nbsp;[<a href="javascript:rate({{item.id}});">收藏</a>] </li>
{% endfor %}
</ol>
</body>
</html>
