<!DOCTYPE HTML>
<html lang="zh">
<head>
<meta charset="utf-8">
  <!-- Framework CSS --> 
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
{% load compress %}
{% compress css %}
  <link rel="stylesheet" href="{{STATIC_URL}}style.css" type="text/css" media="print,screen,projection"> 
  <link rel="stylesheet" href="{{STATIC_URL}}libs/bootstrap/bootstrap.css" type="text/css" media="print,screen, projection"> 
  <link rel="stylesheet" href="{{STATIC_URL}}libs/datepicker/css/datepicker.css" type="text/css" media="print,screen, projection"> 
  <link rel="stylesheet" href="{{STATIC_URL}}libs/datepicker/css/layout.css" type="text/css" media="print,screen, projection"> 
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      .topbar {
        opacity: 0.91;
      }
    </style>
  <link rel="stylesheet" href="{{STATIC_URL}}print.css" type="text/css" media="print"/> 
{% endcompress %}

  <!--[if IE 6]>
{% compress css %}
    <link href="{{STATIC_URL}}libs/bootstrap-ie6/ie6.min.css" rel="stylesheet">
{% endcompress %}
  <![endif]-->

{% compress js %}
  <script src="{{STATIC_URL}}libs/jquery-1.6.1.min.js" type="text/javascript" ></script>
  <script src="{{STATIC_URL}}libs/underscore-1.1.6.js" type="text/javascript" ></script>
  <script src="{{STATIC_URL}}libs/highcharts-2.1.6/js/highcharts.src.js" type="text/javascript"></script>
  <script src="{{STATIC_URL}}libs/backbone.js" type="text/javascript" ></script>
  <script src="{{STATIC_URL}}libs/datepicker/js/datepicker.js" type="text/javascript" ></script>
  <script src="{{STATIC_URL}}js/dashboard.js" type="text/javascript" ></script>
{% endcompress %}

  <script src="{{STATIC_URL}}libs/bootstrap/js/bootstrap-dropdown.js" type="text/javascript" ></script>

  <title>{{page_name}} - 推荐宝 | 个性化推荐引擎</title>
  {% block mvc-script %}
  {% endblock %}
  {% block head %}
  {% endblock %}
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid" style="background-color:">
        <a class="brand" href="/" style="margin-right:135px;">推荐宝&trade;</a>
        {% block site-nav %}
        {% endblock %}
        <ul class="nav secondary-nav">
          <li class="dropdown" data-dropdown="dropdown">
          <a href="#" class="dropdown-toggle">{{ user_name }}</a>
            <ul class="dropdown-menu">
              <li><a href="/user/">帐户设置</a></li>
              <li class="divider"></li>
              <li><a href="/logout">退出</a></li>
            </ul>
          </li>
          <li><a href="/dashboard/">控制台首页</a></li>
          <li><a href="#">帮助</a></li>
        </ul>
      </div>
    </div>
  </div>
  {% block container %}
  {% endblock %}
  <footer>
  <center>
    <p>
        <span class="quiet">Copyright &copy; 2011-2014 推荐宝 &trade;</span>
        <span class="quiet"> - 北京元盟广告有限公司</span>
    </p>
  </center>
  </footer>
<script type="text/javascript"> $(function(){if($.browser.msie&&parseInt($.browser.version,10)===6){$('.row div[class^="span"]:last-child').addClass("last-child");$('[class="span"]').addClass("margin-left-20");$(':button[class="btn"], :reset[class="btn"], :submit[class="btn"], input[type="button"]').addClass("button-reset");$(":checkbox").addClass("input-checkbox");$('[class^="icon-"], [class=" icon-"]').addClass("icon-sprite");$(".pagination li:first-child a").addClass("pagination-first-child")}}) </script>



{% compress js%}

  <!-- Mixpanel -->
  <script type="text/javascript">
    var mpq=[];
    mpq.push(["init","ca1548318e3fce196a53ef614bf78dc2"]);
    mpq.push(['name_tag', '{{ user_name }}']);
    (function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();
  </script>
  <!-- End Mixpanel -->

<script type="text/javascript"> 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23503737-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endcompress%}
</body>
</html>
