<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- Framework CSS --> 
<link rel="stylesheet" href="static/blueprint/screen.css" type="text/css" media="screen, projection"> 
<link rel="stylesheet" href="static/blueprint/print.css" type="text/css" media="print"> 
<!--[if lt IE 8]><link rel="stylesheet" href="static/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
<link rel="stylesheet" href="{{STATIC_URL}}style.css" type="text/css" media="screen, projection"> 

<script src="{{STATIC_URL}}jquery-1.6.1.min.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}jquery-ui-1.8.14/js/jquery-ui-1.8.14.custom.min.js" type="text/javascript" ></script>
<link rel="stylesheet" href="{{STATIC_URL}}jquery-ui-1.8.14/css/cupertino/jquery-ui-1.8.14.custom.css">
<style>
{% block style %} {% endblock %}
</style>
<title>{{page_name}} | Dashboard</title>
{% block head %}
{% endblock %}
</head>
<body class="dashboard">
  <div class="whole-container">
    <div id="header-logo" class="span-6">
        <a href="/" ><img src="{{STATIC_URL}}images/logo.png" alt="推荐宝"></a>
     </div>
</div>
<hr >
<div>{% block breadscrumb %}{% endblock %}</div>
<div class="whole-container">
    <div>
     <a href="/dashboard">{{page_name}}</a>
        <select id="site_selector">
        {% for site in sites %}
            {% if site.site_id == site_id %}
                <option value="{{site.site_id}}" selected>{{site.site_name}}</option>
            {% else %}
                <option value="{{site.site_id}}">{{site.site_name}}</option>
            {% endif %}
        {% endfor %}
        </select>

        
        收录商品数：<span id="items-count">载入数据...</span>
        <a id="site_items_list_link" href="/site_items_list?site_id={{site_id}}">查看商品列表</a>
        <a id="update_category_groups_link" href="/update_category_groups?site_id={{site_id}}">编辑商品分类组别</a>
        用户名： {{ user_name }} <a href="/logout">退出</a>
    </div>
</div>
<hr >
        <span id="status-line"></span>
{% block content-area %}{% endblock content-area %}

<!-- Mixpanel --><script type="text/javascript">
var mpq=[];
mpq.push(["init","ca1548318e3fce196a53ef614bf78dc2"]);
mpq.push(['name_tag', '{{ user_name }}']);
(function(){var a=document.createElement("script");a.type="text/javascript";a.async=true;a.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();
</script><!-- End Mixpanel -->


</body>
</html>
