{% extends "dashboard/new_base.html" %}
{% block head %}
{% endblock %}
{% block site-nav %}
{% endblock %}
{% block container %}
  <div class="container-fluid">
    <div class="sidebar">
      <div class="well">
          <h3>最新消息</h3>
          <ul>
            <li>fdasfdasfsaf</li>
            <li>fdasfdasfsaf</li>
            <li>fdasfdasfsaf</li>
          </ul>
        </div>
      <div class="well">
        <ul class="unstyled">
          <h3>他们说</h3>
          <li>
            <blockquote>
              <p>推荐宝很靠谱，他让我们每天的成交量提高了N个百分点，用户体验做的也不错！</p>
              <small>快书包老徐</small>
            </blockquote>
            <blockquote>
              <p>互联网已经进入个性化时代，而在这个时代，好的推荐引擎是必须的！</p>
              <small>帽子哥</small>
            </blockquote>

          </li>
        </ul>
      </div>
    </div>
    <div class="content">
        <div class="hero-unit">
          <h2>推荐数据监控平台</h2>
          <p>点击网站名称查看相关数据....blablabla<br />
             我们的收费很贵啊！游牧有！
          </p>
        </div>
      <div>
        <table class="zebra-striped">
          <thead>
            <tr>
              <th style="width:190px">网站名称</th>
              <th>收录商品数</th>
              <th style="width:150px">详情</th>
            </tr>
          </thead>
          <tbody>
            {% for site in sites %}
            <tr>
              <td><a href="/report/{{site.api_key}}">{{site.site_name}}</a></td>
              <td>{{site.items_count}}</td>
              <td><a class="btn info" href="/report/{{site.api_key}}">详情 &raquo;</a></td>
            </tr>
            {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
