{% extends "dashboard/new_base.html" %}
{% block head %}
{% endblock %}
{% block site-nav %}
{% endblock %}
{% block container %}
  <div class="container-fluid">
    <div class="sidebar">
      <div class="well">
          <h3>个性化推荐</h3>
          <ul>
            <li>电商精准营销</li>
            <li>用户行为分析</li>
          </ul>
        </div>
      <div class="well">
        <ul class="unstyled">
          <h3>优势</h3>
          <li>
            <blockquote>
              <p>成本低</p>
            </blockquote>
            <blockquote>
              <p>效果好</p>
            </blockquote>

          </li>
        </ul>
      </div>
    </div>
    <div class="content">
        <div class="hero-unit">
          <h2>推荐数据监控平台</h2>
          <p>点击网站名称查看相关数据<br />
          </p>
        </div>
      <div>
        <table class="zebra-striped">
          <thead>
            <tr>
              <th style="width:190px">网站名称</th>
              <th>收录商品数</th>
              <th style="width:150px">详情</th>
            </tr>
          </thead>
          <tbody>
            {% for site in sites %}
            <tr>
              <td><a href="/report/{{site.api_key}}/">{{site.site_name}}</a></td>
              <td>{{site.items_count}}</td>
              <td><a class="btn info" href="/report/{{site.api_key}}/">详情 &raquo;</a></td>
            </tr>
            {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
