{% extends "dashboard/base.html" %}

{% block style %}
    td.num {
        text-align: right;
    }
    td.na {
        text-align: right;
    }
{% endblock %}

{% block head %}


<script src="{{STATIC_URL}}highcharts-2.1.6/js/highcharts.js" type="text/javascript"></script>

<script type="text/javascript">
Highcharts.theme = {
   chart: {
      margin: [50, 80, 60, 80],
      //backgroundColor: {
      //   linearGradient: [0, 0, 500, 500],
      //   stops: [
      //      [0, 'rgb(240, 240, 255)'],
      //      [1, 'rgb(255, 255, 255)']
      //   ]
      //},
      //borderWidth: 1,
      //plotBackgroundColor: 'rgba(255, 255, 255, .9)',
      //plotShadow: true,
      //plotBorderWidth: 1,
      events: {
       redraw: function() {
          $(".rec_weekend_shadow").remove();
          x_add_weekend_shadow(this);
       }
      }

   },
   
//   colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
   colors: ["#7798BF", "#55BF3B", "#DF5353", "#aaeeee", "#ff0066", "#eeaaee", 
      "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
 
   credits: {
      href: "http://tuijianbao.net",
      text: "推荐宝",
      style: {
           color: '#ccc'
      }
   },

   labels: {
      style: {
         color: '#99b'
      }
   },
   legend: {
         align: 'left',
         verticalAlign: 'top',
         y: 10,
         x: 40,
         floating: true,
         borderWidth: 0,

      itemStyle: {         
         font: '9pt Trebuchet MS, Verdana, sans-serif',
         color: 'black'

      },
      itemHoverStyle: {
         color: '#039'
      },
      itemHiddenStyle: {
         color: 'gray'
      }
   },
   plotOptions: {
      areaspline: {
         marker: {
            enabled: false,
            symbol: 'circle',
            radius: 2,
            states: {
               hover: {
                  enabled: true
               }
            }
         }
      }
   },
   subtitle: {
      x: -20,
      style: { 
         color: '#666666',
         font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
      }
   },
   title: {
      x: -20,
      style: { 
         color: '#000',
         font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
      }
   },
   //tooltip: {
   //    crosshairs: {
   //    width: 1,
   //    color: '#333'
   //    }
   //},

   xAxis: {
      gridLineWidth: 1,
      lineColor: '#000',
      tickColor: '#000',
      labels: {
         rotation: -45,
         style: {
            color: '#000',
            font: '11px Trebuchet MS, Verdana, sans-serif'
         },
      },
      title: {
         style: {
            color: '#333',
            fontWeight: 'bold',
            fontSize: '12px',
            fontFamily: 'Trebuchet MS, Verdana, sans-serif'

         }            
      }
   },
   yAxis: {
      minorTickInterval: 'auto',
      lineColor: '#000',
      lineWidth: 1,
      tickWidth: 1,
      tickColor: '#000',
      labels: {
         style: {
            color: '#000',
            font: '11px Trebuchet MS, Verdana, sans-serif'
         }
      },
      title: {
         style: {
            color: '#333',
            fontWeight: 'bold',
            fontSize: '12px',
            fontFamily: 'Trebuchet MS, Verdana, sans-serif'
         }            
      }
   }
};

var xAxis_labels = {
         x: -5,
         y: 18,
         formatter: x_dateformatter
};

// Apply the theme
var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
var xAxisLabels = [];

function x_dateformatter() {
  xAxisLabels.push(this.value);
  var c_date = this.value.split("-");
  var d  =  new Date(c_date[0], c_date[1]-1, c_date[2]);
  var week = d.getUTCDay();
  if(week == 0)
  {
     return "" + c_date[1] + "-" + c_date[2]
  }
  else
  {
     return ""
  }
}

function x_add_weekend_shadow(c)
{
    var left;
    var xcount = xAxisLabels.length; 
    $(xAxisLabels).each(function(i, label){
        var c_date = label.split("-");
        var d  =  new Date(c_date[0], c_date[1]-1, c_date[2]);
        var week = d.getUTCDay();
        if(week == 5 || week == 6)
        {
            width = c.xAxis[0].translate(2) - c.xAxis[0].translate(1)
            left = Math.round(i * width + c.plotLeft+1)
            if(left < c.plotLeft + c.plotWidth)
            {
                c.renderer.rect(left, c.plotTop, width, c.plotHeight,0).attr({
                    'stroke-width': 0,
                    stroke: '#000',
                    fill: '#ddd',
                    zIndex: -1,
                    'label': c_date,
                    'left': i * width + c.plotLeft,
                    'class': 'rec_weekend_shadow'
                }).add();
            }
        }
    });
}

function renderChart_1(site_id, data, action_name) {
    xAxisLabels = [];
    var chart_dict = {
        chart: {
            renderTo: "chart-1"
        },
        title: {
            text: "商品PV和UV图"
        },
        xAxis: {
            categories: data.categories,
            labels: xAxis_labels
        },
        yAxis: [{
                    title: {
                        text: '次数'
                    }
                },
                {
                    title: {
                        text: '比率'
                    },
                    opposite: true
                }
        ],
        tooltip: {
            formatter: function() {
                return '<b>' + this.series.name + '</b><br/>' +
                    this.x + ':' + this.y + '次';
            }
        },

        series: [{"name": "商品PV",
                  "data": data.pv_v,
                  "type": "area",
                  "dataLabels": {
                    enabled: false
                    }
                  },
                 {"name": "商品UV",
                  "data": data.uv_v,
                  "type": "area",
                  "dataLabels": {
                    enabled: false
                    }
                  },
                {"name": "PV/UV",
                  "data": data.pv_uv,
                  "type": "line",
                  yAxis: 1
                 }
            ]
    };
    var chart = new Highcharts.Chart(chart_dict,function(c){ x_add_weekend_shadow(c);});
    return chart;
}


function renderChart_plo(site_id, data, action_name) {
    xAxisLabels = [];
    var chart_dict = {
            chart: {
                renderTo: "chart-1",
            },
            title: {
                text: "商品订单数",
            },
            xAxis: {
                categories: data.categories,
                labels: xAxis_labels
            },
            yAxis: [{
                        title: {
                            text: '订单数'
                        }
                    },
                    {
                        title: {
                            text: '比率'
                        },
                        opposite: true
                    }
            ],
            tooltip: {
                formatter: function() {
                    return '<b>' + this.series.name + '</b><br/>' +
                        this.x + ':' + this.y + '单';
                }
            },
            series: [{
                       "name": "订单数",
                       "data": data.pv_plo,
                       "type": "column"
                     },

                    {"name": "订单数/商品UV",
                      "data": data.pv_plo_d_uv,
                      "type": "spline",
                      yAxis: 1
                     }
                ]
    };
    var chart = new Highcharts.Chart(chart_dict,function(c){ x_add_weekend_shadow(c);});
    return chart;
}

function renderChart_rec(site_id, data, action_name) {
    xAxisLabels = [];
    var sum_pv_v_wo = 0;
    var sum_clickrec = 0;
    for (var index in data.pv_v) {
        if (data.pv_v[index] != null) {
            if (data.clickrec[index] != null) {
                sum_pv_v_wo += data.pv_v[index] - data.clickrec[index];
                sum_clickrec += data.clickrec[index];
            }
        }
    }
    var per_pv_v_wo = Math.round(sum_pv_v_wo / (sum_pv_v_wo + sum_clickrec) * 1000) / 10;
    var per_clickrec = Math.round(sum_clickrec / (sum_pv_v_wo + sum_clickrec) * 1000) / 10;

    var chart_dict = {
            chart: {
                renderTo: "chart-1",
            },
            title: {
                text: "商品推荐占PV数",
                x: -20
            },
            subtitle: {
                //text: site_id,
                x: -20
            },
            xAxis: {
                categories: data.categories,
                labels: xAxis_labels
            },
            yAxis: [{
                        title: {
                            text: '次数'
                        },
                        plotLines: [{
                            value: 0, width: 1, color: '#808080'
                        }]
                    },
                    {
                        title: {
                            text: '比率'
                        },
                        plotLines: [{
                            value: 0, width: 1, color: '#808080'
                        }],
                        opposite: true
                    }
            ],
            tooltip: {
                formatter: function() {
                    if (this.point.name) {
                        var percentage = 0;
                        if (this.point.name == "非推荐PV") {
                            percentage = "" + per_pv_v_wo + "%";
                        }
                        else {
                            percentage = "" + per_clickrec + "%";
                        };

                        return this.point.name + ":" + this.y + '次, 占' + percentage;
                    
                    }
                    else {
                        return '<b>' + this.series.name + '</b><br/>' +
                            this.x + ':' + this.y + '次';
                    }
                }
            },
            series: [{
                       "name": "商品PV数",
                       "data": data.pv_v,
                       "type": "area"
                     },
                     {
                       "name": "推荐点击数",
                       "data": data.clickrec,
                       "type": "area"
                     },
                     {
                       "name": "推荐点击占PV比",
                       "data": data.clickrec_pv_ratio,
                       "type": "spline",
                       "yAxis": 1
                     },
                     {"type": "pie",
                      "name": "汇总",
                      "data": [
                        {name: "非推荐PV",
                        y: sum_pv_v_wo
                        //color: highchartsOptions.colors[0]
                        },
                        {name: "推荐点击PV",
                        y: sum_clickrec
                        //color: highchartsOptions.colors[1]
                        }
                      ],
                      center: [30, 30],
                      size: 60,
                      showInLegend: true,
                      dataLabels: {
                        enabled: false
                      }
                      }
                ]
    };
    var chart = new Highcharts.Chart(chart_dict,function(c){ x_add_weekend_shadow(c);});
    return chart;
}


function renderChart_avg_order_total(site_id, data, action_name) {
    xAxisLabels = [];
    var chart_dict = {
            chart: {
                renderTo: "chart-1",
            },
            title: {
                text: "平均客单价",
                x: -20
            },
            subtitle: {
                //text: site_id,
                x: -20
            },
            xAxis: {
                categories: data.categories,
                labels: xAxis_labels
            },
            yAxis: [{
                        title: {
                            text: '客单价'
                        },
                        plotLines: [{
                            value: 0, width: 1, color: '#808080'
                        }]
                    },
                    {
                        title: {
                            text: '客单价差'
                        },
                        plotLines: [{
                            value: 0, width: 1, color: '#808080'
                        }],
                        opposite: true
                    }

            ],
            tooltip: {
                formatter: function() {
                    return '<b>' + this.series.name + '</b><br/>' +
                        this.x + ':' + this.y + '元';
                }
            },
            series: [{"name": "客单价",
                      "data": data.avg_order_total,
                      "type": "spline",
                      "dataLabels": {
                        enabled: false
                        }
                      },
                      {"name": "有无推荐客单价差",
                      "data": data.avg_order_total_rec_delta,
                      "type": "spline",
                      "dataLabels": {
                        enabled: false
                        },
                      "yAxis": 1
                      }
                ]
    };
    var chart = new Highcharts.Chart(chart_dict,function(c){ x_add_weekend_shadow(c);});
    return chart;
}


function renderChart_total_sales(site_id, data, action_name) {
    xAxisLabels = [];
    var sum_total_sales_without_rec = 0;
    var sum_total_sales_rec_delta = 0;
    for (var index in data.total_sales) {
        if (data.total_sales[index] != null) {
            if (data.total_sales_rec_delta[index] != null) {
                sum_total_sales_without_rec += data.total_sales[index] - data.total_sales_rec_delta[index];
                sum_total_sales_rec_delta += data.total_sales_rec_delta[index];
            }
        }
    }
    
    sum_total_sales_without_rec = Math.round(sum_total_sales_without_rec * 100) / 100;
    sum_total_sales_rec_delta = Math.round(sum_total_sales_rec_delta * 100) / 100;

    var per_total_sales_without_rec = Math.round(sum_total_sales_without_rec / (sum_total_sales_without_rec + sum_total_sales_rec_delta) * 1000) / 10;
    var per_total_sales_rec_delta = Math.round(sum_total_sales_rec_delta / (sum_total_sales_without_rec + sum_total_sales_rec_delta) * 1000) / 10;
    var chart_dict = {
            chart: {
                renderTo: "chart-1",
            },
            title: {
                text: "总销售金额",
                x: -20
            },
            subtitle: {
                //text: site_id,
                x: -20
            },
            xAxis: {
                categories: data.categories,
                labels: xAxis_labels
            },
            yAxis: [{
                        title: {
                            text: '金额'
                        },
                        plotLines: [{
                            value: 0, width: 1, color: '#808080'
                        }]
                    },
                    {
                        title: {
                            text: '比率'
                        },
                        plotLines: [{
                            value: 0, width: 1, color: '#808080'
                        }],
                        opposite: true
                    }
            ],
            tooltip: {
                formatter: function() {
                    if (this.point.name) {
                        var percentage = 0;
                        if (this.point.name == "非推荐销售金额") {
                            percentage = "" + per_total_sales_without_rec + "%";
                        }
                        else {
                            percentage = "" + per_total_sales_rec_delta + "%";
                        };

                        return this.point.name + ":" + this.y + '元, 占' + percentage;
                    
                    }
                    else {
                        return '<b>' + this.series.name + '</b><br/>' +
                            this.x + ':' + this.y + '';
                    }
                }
            },
            series: [{"name": "总销售金额",
                      "data": data.total_sales,
                      "type": "area",
                      "dataLabels": {
                        enabled: false
                        }
                      },
                      {"name": "有无推荐销售金额差",
                      "data": data.total_sales_rec_delta,
                      "type": "area",
                      "dataLabels": {
                        enabled: false
                        },
                      },
                      {"name": "推荐贡献比率",
                      "data": data.total_sales_rec_delta_ratio,
                      "type": "spline",
                      "dataLabels": {
                        enabled: false
                        },
                       yAxis: 1
                      },
                     {"type": "pie",
                      "name": "汇总",
                      "data": [
                        {name: "非推荐销售金额",
                        y: sum_total_sales_without_rec
                        //color: highchartsOptions.colors[0]
                        },
                        {name: "推荐销售金额",
                        y: sum_total_sales_rec_delta
                        //color: highchartsOptions.colors[1]
                        }
                      ],
                      center: [30, 30],
                      size: 60,
                      showInLegend: true,
                      dataLabels: {
                        enabled: false
                      }
                      }
                ]
    };
    var chart = new Highcharts.Chart(chart_dict,function(c){ x_add_weekend_shadow(c);});
    return chart;
}


function renderChart_unique_sku(site_id, data, action_name) {
    xAxisLabels = [];
    var chart_dict = {
            chart: {
                renderTo: "chart-1",
            },
            title: {
                text: "平均Unique SKU",
                x: -20
            },
            subtitle: {
                //text: site_id,
                x: -20
            },
            xAxis: {
                categories: data.categories,
                labels: xAxis_labels
            },
            yAxis: [{
                        title: {
                            text: '平均Unique SKU'
                        },
                        plotLines: [{
                            value: 0, width: 1, color: '#808080'
                        }]
                    }
            ],
            tooltip: {
                formatter: function() {
                    return '<b>' + this.series.name + '</b><br/>' +
                        this.x + ':' + this.y;
                }
            },
            series: [{
                       "name": "平均Unique SKU",
                       "data": data.avg_unique_sku,
                       "type": "spline"
                     },
                     {
                       "name": "平均商品件数",
                       "data": data.avg_item_amount,
                       "type": "spline"
                     }

                ]
    };
    var chart = new Highcharts.Chart(chart_dict,function(c){ x_add_weekend_shadow(c);});
    return chart;
}

function renderChart_rec_ratios(site_id, data, action_name) {
    xAxisLabels = [];
    var chart_dict = {
            chart: {
                renderTo: "chart-1",
            },
            title: {
                text: "推荐点击/请求比",
                x: -20
            },
            subtitle: {
                //text: site_id,
                x: -20
            },
            xAxis: {
                categories: data.categories,
                labels: xAxis_labels
            },
            yAxis: [{
                        title: {
                            text: '点击/请求比'
                        },
                        plotLines: [{
                            value: 0, width: 1, color: '#808080'
                        }]
                    }
            ],
            tooltip: {
                formatter: function() {
                    return '<b>' + this.series.name + '</b><br/>' +
                        this.x + ':' + this.y;
                }
            },
            series: [
                    {
                       "name": "看了也看",
                       "data": data["click_rec_show_ratio_recvav"],
                       "type": "spline"
                     },
                    {
                       "name": "根据购买历史",
                       "data": data["click_rec_show_ratio_recph"],
                       "type": "spline"
                     },
                    {
                       "name": "买了也买",
                       "data": data["click_rec_show_ratio_recbab"],
                       "type": "spline"
                     },
                    {
                       "name": "一起买",
                       "data": data["click_rec_show_ratio_recbtg"],
                       "type": "spline"
                     },
                    {
                       "name": "看了最终买",
                       "data": data["click_rec_show_ratio_recvub"],
                       "type": "spline"
                     },
                    {
                       "name": "根据浏览历史",
                       "data": data["click_rec_show_ratio_recbobh"],
                       "type": "spline"
                     },
                    {
                       "name": "根据购物车",
                       "data": data["click_rec_show_ratio_recsc"],
                       "type": "spline"
                     }
                ]
    };
    var chart = new Highcharts.Chart(chart_dict,function(c){ x_add_weekend_shadow(c);});
    return chart;
}


function renderChart_rec_by_type(site_id, data, action_name) {
    xAxisLabels = [];
    var action_name2cname = {
        "recvav": "看了也看",
        "recph": "根据购买历史",
        "recbab": "买了也买",
        "recbtg": "一起买",
        "recvub": "看了最终买",
        "recbobh": "根据浏览历史",
        "recsc": "根据购物车"
    };
    var chart_dict = {
            chart: {
                renderTo: "chart-1",
            },
            title: {
                text: "商品推荐统计 - " + action_name2cname[action_name],
                x: -20
            },
            subtitle: {
                //text: site_id,
                x: -20
            },
            xAxis: {
                categories: data.categories,
                labels: xAxis_labels
            },
            yAxis: [{
                        title: {
                            text: '次数'
                        },
                        plotLines: [{
                            value: 0, width: 1, color: '#808080'
                        }]
                    },
                    {
                        title: {
                            text: '点击/请求比'
                        },
                        plotLines: [{
                            value: 0, width: 1, color: '#808080'
                        }],
                        opposite: true
                    }
            ],
            tooltip: {
                formatter: function() {
                    return '<b>' + this.series.name + '</b><br/>' +
                        this.x + ':' + this.y + '次';
                }
            },
            series: [{
                       "name": "推荐请求数",
                       "data": data["recommendation_request_count_" + action_name],
                       "type": "area"
                     },
                    {
                       "name": "推荐展示数",
                       "data": data["recommendation_show_count_" + action_name],
                       "type": "area"
                     },

                     {
                       "name": "推荐点击数",
                       "data": data["click_rec_count_" + action_name],
                       "type": "area"
                     },
                    {
                       "name": "推荐点击/请求比",
                       "data": data["click_rec_show_ratio_" + action_name],
                       "type": "spline",
                       yAxis: 1
                     },
                ]
    };
 
    var chart = new Highcharts.Chart(chart_dict,function(c){ x_add_weekend_shadow(c);});
    return chart;
}
    function fillCharts(site_id, statistics) {
        try{

            var char = renderChart_{{ chart }}(site_id, statistics, "{{ type }}");

            //renderChart_1(site_id, statistics);
            //renderChart_plo(site_id, statistics);
            //{% if user.is_admin %}
            //renderChart_rec(site_id, statistics);
            //{% endif %}
            //renderChart_avg_order_total(site_id, statistics);
            //renderChart_total_sales(site_id, statistics);
            //{% if user.is_admin %}
            //renderChart_unique_sku(site_id, statistics);
            //renderChart_rec_by_type(site_id, statistics, "recvav");
            //renderChart_rec_by_type(site_id, statistics, "recph");
            //renderChart_rec_by_type(site_id, statistics, "recbab");
            //renderChart_rec_by_type(site_id, statistics, "recbtg");
            //renderChart_rec_by_type(site_id, statistics, "recvub");
            //renderChart_rec_by_type(site_id, statistics, "recbobh");
            //renderChart_rec_by_type(site_id, statistics, "recsc");
            //{% endif %}
            //renderChart_rec_ratios(site_id, statistics);
        }catch(err){}
    };

    function updateSiteStatistics(site_id, timespan) {
        $("#chart-1").html("<center style='margin-top:3em'>载入数据 ... </center>");
        $("#date-space").html("载入日期...");
        $.getJSON("/ajax/get_site_statistics", {site_id: site_id, timespan: timespan},
                function(data, textStatus, jqXHR) {
                    if (data.code == 0) {
                        if (data.site.items_count > 0) {
                            $("#date-space").html(data.append.date_space);
                            var site_data = data.site;
                            $("#items-count").html(site_data["items_count"]);
                            fillCharts(site_data.site_id, site_data.statistics);
                        }
                        $("#status-line").html("");
                        }
                    else{
                        $("#status-line").html("载入数据失败，请稍后再试。");
                    }
                }
            );
    };

    function reload_chart()
    {
        var timespan = $("#timespan_selector").val();
        var site_id = $("#site_selector").val();
        updateSiteStatistics(site_id, timespan);
    }

    function on_selectors_change() {
        var site_id = $("#site_selector").val();
        //window.location.href = "?site={{site_id}}";
        //var site_id = $("#site_selector").val();
        //var timespan = $("#timespan_selector").val();
        //updateSiteStatistics(site_id, timespan);
        //$("#site_items_list_link").attr("href", "/site_items_list?site_id=" + site_id);
        //$("#update_category_groups_link").attr("href", 
        //                "/update_category_groups?site_id=" + site_id);
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#site_selector").change(function() {
            window.location.href = "?site_id="+this.value;
        });
        //$("#timespan_selector").change(function() {
        //    on_selectors_change();
        //});
        $("#refresh_chart").click(function() {
            reload_chart();
        });
        $(".date-link").click(function() {
            var timespan_list = $(this).attr("id").split("_");
            $("#timespan_selector").val(timespan_list[1]);
            $(".date-selected").removeClass("date-selected");
            $(this).addClass("date-selected");
            reload_chart();
        });
        $("#{{chart_menu_id}}").addClass("chart-menu-selected");
        $(".date-selected").removeClass("date-selected");
        $("#date-link_"+$("#timespan_selector").val()).addClass("date-selected");
        reload_chart();
    });
</script>
{% endblock %}

{% block content-area %}
<style>
#content-box {
 float: right;
 width: 100%;
}
#sidebar {
 float: left;
 background:#f6f6f6;
 margin-right:-200px;
 width:200px;
}
#content-box {
 float: right;
 width: 100%;
}

</style> 
<!--
<div id="out-content">
	<div id="content-box">
		<div id="content">11111</div>

	</div>
	<div id="sidebar">fdafdafas</div>
</div>
-->

<div id="content-box">
  <div id="chart-content">
      <div>
        <span id="date-space"></span>
         <ul class="date-menu print-hide">
           <li><a href="#" id="date-link_15" class="date-link">15天</a></li>
           <li><a href="#" id="date-link_30" class="date-link date-selected">30天</a></li>
           <li><a href="#" id="date-link_60" class="date-link">60天</a></li>
           <li><a href="#" id="date-link_90" class="date-link">90天</a></li>
         </ul>
       </div>
       <br />
       <br />
       <div id="chart-1"></div>
   </div>
</div>
    <div id="chart-menu">
      <ul>
        <li class="menu-title">整体统计</li>
        <li><a id="chart_1_" href="?site_id={{site_id}}&chart=1">商品PV和UV</a></li>
        <li><a id="chart_plo_" href="?site_id={{site_id}}&chart=plo">商品订单数</a></li>
        <li><a id="chart_rec_" href="?site_id={{site_id}}&chart=rec">商品推荐占PV数</a></li>
        <li><a id="chart_avg_order_total_" href="?site_id={{site_id}}&chart=avg_order_total">平均客单价</a></li>
        <li><a id="chart_total_sales_" href="?site_id={{site_id}}&chart=total_sales">总销售金额</a></li>
        <li><a id="chart_unique_sku_" href="?site_id={{site_id}}&chart=unique_sku">Unique SKU</a></li>
        <li class="menu-title">推荐统计</li>
        <li><a id="chart_rec_by_type_recvav" href="?site_id={{site_id}}&chart=rec_by_type&type=recvav">商品推荐统计-看了也看</a></li>
        <li><a id="chart_rec_by_type_recph" href="?site_id={{site_id}}&chart=rec_by_type&type=recph">商品推荐统计-根据购买历史</a></li>
        <li><a id="chart_rec_by_type_recbab" href="?site_id={{site_id}}&chart=rec_by_type&type=recbab">商品推荐统计-买了也买</a></li>
        <li><a id="chart_rec_by_type_recbtg" href="?site_id={{site_id}}&chart=rec_by_type&type=recbtg">商品推荐统计-一起买</a></li>
        <li><a id="chart_rec_by_type_recvub" href="?site_id={{site_id}}&chart=rec_by_type&type=recvub">商品推荐统计-看了最终买</a></li>
        <li><a id="chart_rec_by_type_recbobh" href="?site_id={{site_id}}&chart=rec_by_type&type=recbobh">商品推荐统计-根据浏览历史</a></li>
        <li><a id="chart_rec_by_type_recsc" href="?site_id={{site_id}}&chart=rec_by_type&type=recsc" style="border-bottom:1px solid #9b8748">商品推荐统计-根据购物车</a></li>
      </ul>
    </div>
 <input type="hidden" name="timespan_selector" id="timespan_selector" value="30" />
{% endblock %}
