{% extends "dashboard/base.html" %}
{% block mvc-script %}
<!--<script src="{{STATIC_URL}}js/models/user.js" type="text/javascript" ></script>-->
<script src="{{STATIC_URL}}js/views/user.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}js/controllers/user.js" type="text/javascript" ></script>
{% endblock %}
{% block head %}
<script type="text/javascript">
$(document).ready(function(){
  App.initialize(App.Routers.User);
});
</script>
{% endblock %}
{% block site-nav %}
{% endblock %}
{% block container %}
<div class="container-fluid">
    <div id="sidebar_nav" class="sidebar">
      <div class="well">
        <h5>帐户设置</h5>
        <ul>
          <li><a href="#">修改密码</a></li>
        </ul>
      </div>
    </div>
    <div id="content" class="content">
      <div>
        <a href="#">帐户设置</a>
        <span>&gt;&gt;</span>
        <span id="items_nav"></span>
      </div>
      <hr />
      <div id="main-content">
      </div>
    </div>
   <script id="change-password-template" type="text/template">
    <div class="span12">
      <form id="change-password-form"  action="javascript:return false;">
      {% csrf_token %} 
        <div class="clearfix">
          <label for="password"></label>
          <div class="input">
            <span id="alert-message" class="label hidden">保存成功</span><span class="label" style="background-color:#fff">&nbsp;</span>
          </div>
        </div>
        <div class="clearfix">
          <label for="raw_password">原密码</label>
          <div class="input">
            <input class="large" id="raw_password" name="raw_password" size="30" type="password">
          </div>
        </div>
        <div class="clearfix">
          <label for="password">新密码</label>
          <div class="input">
            <input class="large" id="password" name="password" size="30" type="password">
            <span class="help-inline">格式：至少6位，由字母、数字和下划线组成</span>
          </div>
        </div>
        <div class="clearfix">
          <label for="password_confirm">确认密码</label>
          <div class="input">
            <input class="large" id="password_confirm" name="password_ocnfirm" size="30" type="password">
          </div>
        </div>
        <div class="clearfix">
          <label for="xlInput"></label>
          <div class="input">
            <input type="submit" value="保存" class="btn primary">&nbsp;<button class="btn" type="reset">取消</button>
          </div>
        </div>
      </form>
    </div>
    </script>
    <input type="hidden" name="user_name" id="user_name" value="{{user_name}}" />
  </div>
{% endblock %}
