<html>
   <head>
      <title>{% if is_add_site %}Add Site{% else %}Edit Site{% endif %} | Admin Board</title>
      <script type="text/javascript" src="/s/jquery-1.6.1.min.js"></script>
   </head>
   <body>
        <a href="/">Home</a>
        <form action="{% if is_add_site %}/add_site{% else %}/edit_site{% endif %}" 
              method="POST">
            {% if is_add_site %} Site ID: <input type="text" name="site_id" value=""><br />
            {% else %} <input type="hidden" name="site_id" value="{{ data.site_id }}"> 
            Site ID: {{ data.site_id }} <br/>
            {% endif %}
            Site Name: <input type="text" name="site_name" value="{{ data.site_name }}"><br />
            {% if not is_add_site %} API Key: {{ data.api_key }} <br /> {% endif %}
            Calculation Interval: <input type="text" name="calc_interval" value="{{ data.calc_interval }}"><br />
            Disabled Flows: <input type="text" name="disabledFlowsFormatted" value="{{ data.disabledFlowsFormatted }}"><br />
            Algorithm Type: <input type="radio" name="algorithm_type" value="amc" {% if data.algorithm_type == "amc" %}checked{% endif %} /> Amazon Counting
                            <input type="radio" name="algorithm_type" value="llh" {% if data.algorithm_type == "llh" %}checked{% endif %} /> Logilikelihood
            <br />
            <input type="submit" name="submit" value="Save">
            {% csrf_token %}
        </form>
   </body>
</html>
