{% extends "base.html" %}
{% block content-area %}

<div class="whole-container">
  <div class="container">
    <div class="span-10 prepend-top sub-header page-sub-header">
      免费试用
    </div>
  </div>
</div>

<br>

<div class="container large">
  <div class="span-24">
    {% if msg == "already_applied" %}

    <div class="span-22 notice">
      您已经提交过联系方式，我们会尽快与您取得联系！
    </div>
    
    {% else %} 
      {% if msg == "succ" %}
      <div class="span-22 success">
        您的联系方式已经提交，我们会尽快与您取得联系！
      </div>
      {% else %}
      <div class="span-20">
        <form action="/apply" method="post">
          <fieldset>
            <legend>请留下您的联系方式，我们的工作人员会联系您</legend>

            <p><label for="email">公司邮箱:</label> <input name="email" id="email" type="text" class="title" value=""></p>

            <p><label for="phone">联系电话:</label> <input name="phone" id="phone" type="text" class="title" value=""></p>

            <p><input name="submit" type="submit" value="提交" style="font-size:18px;width:62px;"></p>
          </fieldset>{% csrf_token %}
        </form>
      </div>
      {% endif %}
    {% endif %}
  </div>
</div>

{% endblock content-area %}

