<!DOCTYPE HTML>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="description" content="推荐宝-电商个性化推荐系统">
<meta name="keywords" content="电子商务,推荐宝,推荐宝贝,个性化推荐,搭配">
<title>{{page_name}} - 个性化推荐系统</title>
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css">
<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print">
{% endcompress %}
<!--[if lt IE 9]>
{% compress css %}
<link rel="stylesheet" href="/static/blueprint/ie.css" type="text/css">
{% endcompress %}
<![endif]-->
{% block link %} {% endblock %}
{% block head %} {% endblock %}
</head>
<body>
  <hr class="space"/>
  <!-- Header Start -->
  <div class="container">
    <div id="index-header" class="span-24">
      <div id="index-header-logo" class="span-8">
        <a href="/"><div id="index-header-logo-link" class=""></div></a>
      </div>
      <div id="primary-nav-menu" class="span-1 pull-3 primary-nav">
        <ul class="menu" style="display:none">
          <li><a href="/">首页</a></li>
          <li><a href="#">什么是推荐宝</a></li>
          <li><a href="#">联系我们</a></li>
          <li><a href="#">关于我们</a></li>
        </ul>
      </div>
      {% if user_name != None %}
      <div class="last push-1 primary-nav" style="padding-left:28em">
        <ul class="menu">
          <!-- <li><a href="/apply">申请推荐宝</a></li> -->
          <li>欢迎, {{user_name}}
          <a href="/dashboard">控制台</a>
          <a href="/logout">退出</a></li>
        </ul>
      </div>
      {% else %}
      <div class="last push-1 primary-nav" style="padding-left:35em">
        <ul class="menu">
          <!-- <li><a href="/apply">申请推荐宝</a></li> -->
          <li><a href="/login">登录</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <!-- Header End -->

  <!-- Content Start -->
  {% block content-area %}{% endblock content-area %}
  <!-- Content End -->

  <!-- Footer Start -->
  <hr class="space" />
  <div id="footer" class="container">
    <div class="prepend-top span-24 last">
      <center>
        <span class="quiet">Copyright &copy; 2011-2014 推荐宝 &trade;</span>
        <span class="quiet"> - 北京元盟广告有限公司</span>
      </center>
    </div>
  </div>
  <!-- Footer End -->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23503737-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
