{% extends "base.html" %}
{% block content-area %}
  <div class="whole-container">
    <div class="container sub-header ">
      <div class="span-13 index-sub-header" style="background:url('static/images/subheader-big1.png') 0 -10px no-repeat">
      </div>
      <div  class="span-10 last">
        <div class="span-12">
          <p>
          <br />
          <br />
          提高站内转化率！<br />
          让您的客户买更多的东西！<br />
          更多啊，有木有啊亲！</br>
          </p>
        </div>
        <div class="span-12">
          <br />
          <a href="#" class="regist-big-button">马上申请推荐宝</a>
          <a href="/login" class="login-white-link">已有帐号请点此登录>></a>
        </div>
      </div>
    </div>
  </div>

  <hr class="space"/>

  <div class="container">
    <div class="span-6 border">
      <h4 class="prepend-1">买了又买</h4>
      <p class="prepend-1 append-1">
      推荐宝的体验很好,推荐宝的体验很好,推荐宝的体验很好
      </p>      
    </div>
    <div class="span-6 border">
      <h4 class="prepend-1">买了又买</h4>
      <p class="prepend-1 append-1">
      推荐宝的体验很好,推荐宝的体验很好,推荐宝的体验很好
      </p>      
    </div>

    <div class="span-6 border">
      <h4 class="prepend-1">看了又买</h4>
      <p class="prepend-1 append-1">
      推荐宝的体验很好,推荐宝的体验很好,推荐宝的体验很好
      </p>      
    </div>
    <div class="span-6 last">
      <h4 class="prepend-1">买了又看</h4>
      <p class="prepend-1 append-1">
      推荐宝的体验很好,推荐宝的体验很好,推荐宝的体验很好
      </p>      
    </div>
  </div>
{% endblock content-area %}
