{% extends "base.html" %}

{% block style %}
    td.num {
        text-align: right;
    }
    td.na {
        text-align: right;
    }
{% endblock %}

{% block head %}
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{STATIC_URL}}flot-0.7/excanvas.min.js"></script><![endif]-->
<script src="{{STATIC_URL}}flot-0.7/jquery.flot.js" type="text/javascript"></script>
<script type="text/javascript">
    function fillChart(site_id, statistics) {
        var d_pv_v = [];
        var d_uv_v = [];
        var d_pv_uv = [];
        var d_pv_plo = [];
        var d_pv_rec = [];
        var d_clickrec = [];
        var ticks = [];
        $.each(statistics, function(idx, stat_row) {
            d_pv_v.push([idx, stat_row.PV_V]);
            d_uv_v.push([idx, stat_row.UV_V]);
            d_pv_uv.push([idx, stat_row.PV_UV]);
            d_pv_plo.push([idx, stat_row.PV_PLO]);
            d_pv_rec.push([idx, stat_row.PV_Rec]);
            d_clickrec.push([idx, stat_row.ClickRec]);
            ticks.push([idx, stat_row["date"].substring(5)]);
        });
        
        function timesFormatter(v, axis) {
            return "" + Math.round(v) + "次";
        }

        var options = {
            lines: {show: true},
            points: {show: true },
            //bars: {show: true},
            xaxis: {
                ticks: ticks,
            },
            yaxes: [ {min: 0, tickFormatter: timesFormatter, alignTicksWithAxis: null},
                     {min: 0, position: "right", alignTicksWithAxis: 1}
                ]
        };

        $.plot($("#chart-" + site_id), 
               [{label: '商品PV', data: d_pv_v, yaxis: 1},
                {label: '商品UV', data: d_uv_v, yaxis: 1},
                {label: 'PV/UV',  data: d_pv_uv, yaxis: 2},
                {label: '订单数', data: d_pv_plo, yaxis: 1}
               ], 
               options);

        $.plot($("#chart-" + site_id + "-rec"),
               [{label: '推荐请求数', data: d_pv_rec},
                {label: '推荐点击数', data: d_clickrec}],
               options);
    };

    function updateSiteStatistics() {
        //var site_ids_str = site_ids_array.join(',');
        $.getJSON("/ajax/get_site_statistics", {},
                function(data, textStatus, jqXHR) {
                    $.each(data, function(idx, site_data) {
                        $("#items-count-" + site_data.site_id).html(site_data["items_count"]);
                        fillChart(site_data.site_id, site_data.statistics);
                    });
                }
            );
    };
    
    $(function() {
        $("#accordion").accordion();
        {% for site in sites %}
            $("#sitetab-{{site.site_id}}").tabs();
        {% endfor %}
        
        updateSiteStatistics();
    });
</script>
{% endblock %}

{% block content-area %}
<div id="accordion">
    {% for site in sites %}
    <h3><a href="#">{{site.site_name}}</a></h3>
    <div>
        收录商品数：<span id="items-count-{{site.site_id}}">N/A</span>
        <div id="sitetab-{{site.site_id}}">
            <ul>
            <li><a href="#sitetab-{{site.site_id}}-chart">商品图表</a></li>
            <li><a href="#sitetab-{{site.site_id}}-2"> 查看商品列表</a></li>
            <li><a href="#sitetab-{{site.site_id}}-3">编辑商品分类组别</a></li>
            </ul>
            <div id="sitetab-{{site.site_id}}-chart">
                <div id="chart-{{site.site_id}}" style="width:800px;height:300px;"></div>
                <div id="chart-{{site.site_id}}-rec" style="width:800px;height:300px; margin-top: 30px;"></div>
            </div>
            <div id="sitetab-{{site.site_id}}-2">
            </div>
            <div id="sitetab-{{site.site_id}}-3">
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
