{% extends "base.html" %}
{% block content-area %}
  <div class="whole-container" style="background-color:#50a4d0;">
    <div class="container sub-header ">
      <div class="span-10 index-sub-header" style="background:url('static/images/index-lady.gif') 60px 80px no-repeat">
      </div>
      <div  class="span-13 last">
        <div class="span-13 font-yahei">
          <p>
          <br />
          <br />
          搜索？打广告？<br />
          试试推荐宝的个性化推荐吧！<br />
          让您的顾客更快的找到想要的宝贝！<br />
          有木有啊，亲！<br />
          </p>
        </div>
        <div class="span-12">
          <!--<a href="/apply" class="regist-big-button">马上申请推荐宝</a>-->
          <a href="/login" class="login-white-link">已有帐号请点此登录>></a>
        </div>
      </div>
    </div>
  </div>

  <hr class="space"/>

  <div class="container">
    <div class="span-6 border">
      <h4 class="prepend-1">通常一起购买</h4>
      <p class="prepend-1 append-1">
        自动化的商品搭配
      </p>
    </div>
    <div class="span-6 border">
      <h4 class="prepend-1">最终购买</h4>
      <p class="prepend-1 append-1">
        根据用户购物习惯
      </p>
    </div>

    <div class="span-6 border">
      <h4 class="prepend-1">根据购物车推荐</h4>
      <p class="prepend-1 append-1">
        交叉销售提高客单价
      </p>
    </div>
    <div class="span-6 last">
      <h4 class="prepend-1">根据浏览历史推荐</h4>
      <p class="prepend-1 append-1">
        回头客一击命中
      </p>
    </div>
  </div>
{% endblock content-area %}
