<html>
<title>Dashboard</title>
<head>

<!-- Framework CSS --> 
<link rel="stylesheet" href="static/blueprint/screen.css" type="text/css" media="screen, projection"> 
<link rel="stylesheet" href="static/blueprint/print.css" type="text/css" media="print"> 
<!--[if lt IE 8]><link rel="stylesheet" href="static/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 

</head>
<body>
<div class="container">

{% if msg == "login_failed" %}
<div class="span-12 error">
<p>登录失败，请检查您输入的用户名和密码是否正确</p>
</div>
{% endif %}

<div class="span-12">
<form method="POST" action="/login">
    <fieldset>
        <legend>Dashboard</legend>
        <p>
            <label for="name">用户</label>
	        <input name="name" id="name" type="text" value=""/>
        </p>

        <p>
            <label for="password">密码</label>
	        <input name="password" id="password" type="password" value="" />
        </p>

        <p>
	        <input name="submit" type="submit" value="登陆" />
        </p>
{% csrf_token %} 
</form>
</div>
</div>
</body>
</html>
