<html>
<head>
<style>
    td.num {
        text-align: right;
    }
    td.na {
        text-align: right;
    }
</style>
</head>
<body>
<h1>Dash Board</h1>
<p>用户名： {{ user_name }} <a href="/logout">登出</a></p>

<ul>
    <li>商品名称：<a href="{{item.item_link}}">{{item.item_name}}</a></li>
    <li>商品价格：{{item.price}}</li>
</ul>

看了本商品的用户还看了：
<ol>
{% for topn_item in getAlsoViewed %}
    <li><a style="{% if topn_item.score > 4.0 %} color:blue {% else %}color: gray{% endif %};" href="{{topn_item.item_link}}">{{topn_item.item_name}}</a> Score: {{topn_item.score}}</li>
{% endfor %}
</ol>

</body>
</html>
