{% extends "base.html" %}
{% block head %}

    <script type="text/javascript">
        $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken",
                                             $("#csrfmiddlewaretoken").val());
                    }
                }
            });
    </script>
{% endblock %}

{% block content-area %}       
<div>商品分类组别：</div>
<div id="msg"></div>
<form id="form" method="POST" action="/update_category_groups">
    <textarea id="category_groups_src" cols="40" rows="20" name="category_groups_src">{{category_groups_src}}</textarea><br/>
    <input id="site_id" name="site_id" type="hidden" value="{{site_id}}" />
    <input name="save" type="submit" value="保存" />
</form>

    <script type="text/javascript">
        $("form").submit(function() {
            $.get("/ajax/update_category_groups",
                {"category_groups_src": $("#category_groups_src").val(),
                 "site_id": $("#site_id").val()},
                function(data, textStatus, jqXHR) {
                    if (data.is_succ) {
                        $("#msg").css("color", "black");
                        $("#msg").html("已保存");
                    }
                    else {
                        $("#msg").css("color", "red");
                        if (data.msg == "INVALID_FORMAT") {
                            $("#msg").html("格式错误");
                        }
                        else if (data.msg == "INVALID_SITE"){
                            $("#msg").html("该站点不存在");
                        }
                    }
                    $("msg").toggle();
                },
                "json")
            return false;
        });
    </script>
{% endblock %}
